<div id="job-body" class="page">
  <h1  class="title">Emprego Já</h1>

  <h1><%= @job.title %></h1>
  <hr>

  <div class="job-container">
    <table>
      <tr>
        <td class="title">Empresa:</td><td><%= @job.company %></td>
      </tr>  
      <tr>
        <td class="title">Localização:</td> <td><%= @job.location %></td>
      </tr>
      <tr>
        <td class="title">Categoria:</td> <td><%= @job.category %></td>
      </tr>
      <tr>
        <td class="title">Descrição completa:</td> <td><%= @job.description %></td>
      </tr>

      <% if @job.featured %>
        <tr>
          <td><strong>Destaque</strong></td>
        </tr>
      <% end %>

    </table>
  </div>

  <%= link_to 'Voltar', root_path %>
</div>
