<div id="job-body" class="page">
  <h1 class="title-job">
    <%= @company.name %>
  </h1>
  <hr>

  <div class="job-container clearfix">
    <dl>
      <div class="row">
        <dt>Empresa:</dt>
        <dd><%= @company.name %></dd>
      </div> 
      
      <div class="row">
        <dt>Localização:</td>
        <dd><%= @company.location %></dd>
      </div>
      <div class="row">
        <dt>E-mail:</dt>
        <dd><%= @company.mail %></dd>
      </div>
      <div class="row">
        <dt>Telefone:</dt>
        <dd><%= @company.phone %></dd>
      </div>
    </dl>
  </div>

  <div id="home-body" class="page">
  <% if @jobs.blank? %> 
    <h3>Nenhuma vaga disponível</h3>
  <% else %>
    <% @jobs.each do |job| %>
      <div class="job-container">
        <% if job.featured %>
          <div class="featured">
            <strong>Destaque</strong>
          </div>
        <% end %>
        
        <h1><%= link_to job.title, job %></h1>

        <p><%= job.category %></p>
        <p><%= job.location %></p>
      </div>
    <% end %>
  <% end %>

</div>
  <%= link_to 'Voltar', root_path %>
</div>
