<div id="company-body" class="page">
  <h1 class="title-job">
    <%= @company.name %>
  </h1>
  <hr>

  <div class="company-container clearfix">
    <dl>
      <div class="row">
        <dt>Empresa:</dt>
        <dd><%= @company.name %></dd>
      </div> 
      
      <div class="row">
        <dt>Localização:</td>
        <dd><%= @company.location %></dd>
      </div>
      <div class="row">
        <dt>E-mail:</dt>
        <dd><%= @company.mail %></dd>
      </div>
      <div class="row">
        <dt>Telefone:</dt>
        <dd><%= @company.phone %></dd>
      </div>
    </dl>
  </div>

  <div class="jobs-container">
    <% if @company.jobs.any? %> 
      <%= render @company.jobs %>
    <% else %>
      <h3>Nenhuma vaga disponível</h3>
    <% end %>
  </div>

  <%= link_to 'Voltar', root_path %>
</div>
