<% if @category.errors.any? %>
  <div class="message">
    <% @category.errors.full_messages.each do |message| %>
      <p><%= message.html_safe %></p>
    <% end %>
  </div>
<% end %>
  
<%= form_for @category do |f| %>
  <%= f.label :name, "Nome" %>
  <%= f.text_field :name %>
  <%= f.submit "Criar Categoria" %>
<% end %>